.md-nav__title {
	display: none !important;
}

.md-hero__inner {
	margin-top: 0;
	font-size: 1.5em;
}

.md-header-nav__button.md-logo {
	padding: .4em 0 !important;
}

.md-header-nav__button.md-logo img, .md-header-nav__button.md-logo svg {
	width: 1.6rem;
	height: 1.6rem;
}

.md-header-nav__title {
	padding: 0 0.4rem;
}
